/*   == GENERAL ==   */
body {
    margin: 0;
    background-color: #B7D1A3;
}
a {
    color: none;
    text-decoration: none;
}
a:hover {
    transform: scale(1.2);
}
p {
    margin: 0%;
    font-family: Quicksand;
    font-size: larger;
}
h2 {
    background-color: #7BAE7F;
    font-family: lato;
    width: fit-content;
    padding: 10px;
    border-radius: 7px;
    margin-left: 20px;
    font-size: 2em;
    text-decoration: underline;
}
li {
    font-family: quicksand;
    font-size: larger;
}
/*  == HEADER ==   */
header {
    display: flex;
    flex-wrap: wrap;
    background-color: #D2A679;
    justify-content: space-between;
}
.img-logo {
    height: 100px;
    margin: 1%;
    border-radius: 20px;
}
h1 {
    font-family: lato;
    font-size: 3em;
    display: flex;
    align-items: center;
    color: #341F1E;
    font-weight: 800;
}
.redes {
    background-color: #341F1E;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 10px 15px;
}
.i-redes {
    font-size: 40px;
    margin: 10px;
    color: #D2A679;
}

/*   == NAV ==    */
nav {
    position: sticky;
    top: 0;
    padding: 0;
    background-color: #D2A679;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.txt-nav {
    background-color: #D2A679;
    color: #341F1E;
    width: 100%;
    text-align: center;
    margin: 0;
    justify-self: center;
    font-size: 20px;
    font-weight: bold;
}
.Rcont {
    background-color: #341F1E;
    color: #B7D1A3;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

/*   == MAIN ==   */

/*introduccion*/
.section-1 {
    display: flex;
    flex-wrap: wrap;
}
.txt1div {
    width: 50%;
    text-indent: 30px;
    margin: 50px;
    margin-left: 10%;
}
.img1 {
    margin: 20px;
    margin-left: 10%;
    display: flex;
    align-self: center;
    width: 250px;
}

/*origen y curiosidades*/
.content-2 {
    display: flex;
    flex-wrap: wrap;
}
.txt2 {
    width: 50%;
    text-indent: 30px;
    margin: 50px;
    margin-left: 10%;
}
.mapa1 {
    margin: 20px;
    display: flex;
    align-self: center;
}

/*ingredientes*/
ul {
    margin-left: 10%;
    margin-top: 50px;
}

/*preparacion*/
ol {
    margin-left: 10%;
    margin-top: 50px;
    max-width: 50%;;
}

/*informacion adicional*/
.txt3 {
    max-width: 50%;
    margin-left: 10%;
    margin-bottom: 40px;
}
.video1 {
    margin-left: 10%;
}

/*  == ICONO FLOTANTE ==    */
.icono-flotante {
        position: fixed;
        display: flex;
        padding: 0%;
        bottom: 40px;
        right: 40px;
    }
.fa-whatsapp {
    font-size: 75px;
    color: #7BAE7F;
}
.fa-whatsapp:hover {
    transform: scale(1.2);
}

/*   == FOOTER ==   */
footer{
    background-color: #D2A679;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.txt4 {
    align-self: center;
    justify-self: flex-end;
    margin-right: 0;
}
.redes-footer {
    margin: 40px;
}
.i-redes2 {
    padding: 0 50px;
    font-size: 50px;
}