    header {
        margin-bottom: 0;
    }
    .cajah1 {
        background-color: #FFE787;
        padding: 20px;
        margin: 40px;
        margin-bottom: 0;
        border-radius: 25px;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
    h1 {
        text-align: center;
        font-size: 50px;
        font-family: sans-serif;
    }
    span {
        color: #0E3006;
    }
    .cajanav1 {
        background-color: #6A8042;
        margin: 0;
        margin-left: 40px;
        margin-right: 40px;
    }
    .txtnav {
        color: #FFFADD;
        padding: 0;
        margin: 0;
    }
    nav {
        position: sticky;
        top: 0;
        padding: 0;
    }
    .cajanav-sticky {
        background-color: #6A8042;
        margin: 0 40px 40px 40px;
        padding: 10px;
        border-radius: 25px;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        display: flex;
        justify-content: space-around;
    }
    .sub-cajanav-sticky1 {
        background-color: #0E3006;
        padding: 2px;
        margin: 0;
        border-radius: 10px;
    }
    .sub-cajanav-sticky2 {
        background-color: #0E3006;
        padding: 2px;
        margin: 0;
        border-radius: 10px;
    }
    .sub-cajanav-sticky3 {
        background-color: #0E3006;
        padding: 2px;
        margin: 0;
        border-radius: 10px;
    }
    .sub-cajanav-sticky4 {
        background-color: #0E3006;
        padding: 2px;
        margin: 0;
        border-radius: 10px;
    }
    .txtnav-sticky {
        color: #FFFADD;
        margin: 0%;
        padding: 0%;
        margin-right: 20px;
    }
    .txtnav-sticky:hover {
        color: #6A8042;
    }
    a:hover {
        text-decoration: underline;
        text-decoration-color: #6A8042;
    }
    a {
        text-decoration-color: #FFFADD;
        text-decoration: none;
    }
    body {
        background-color:#FFFADD;
        margin: 0%;
    }
    .parentesis {
        color:#919191
    }
    .txt1div {
        color: black;
        max-width: 600px;
        text-align: justify;
        margin-left: 15%;
    }
    .txt1 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .txt1img {
        display: flex;
        gap: 150px; 
    }
    .img1 {
        align-items: right;
        height: fit-content;
        width: 300px;
        border-radius: 20px;
    }
    p {
        line-height: 1.4;
        font-size: 20px;
        text-indent: 20px;
    }
    h2 {
        font-style:italic;
        text-decoration: underline;
        margin-left: 7%;
        margin-right: 70%;
        padding: 10px;
        background-color: #FFE787;
        border-radius: 10px;
    }
    .txt2int {
        max-width: 600px;
    }
    .txt2 {
        text-align: justify;
        margin-left: 15%;
        display: flex;
        gap: 150px; 
    }
    .mapa1 {
        margin-right: 25px;
        border-radius: 20px;
    }
        li {
        line-height: 1.4;
        font-size: 20px;
        text-indent: 20px;
        }
    .lis1 {
        text-align: justify;
        max-width: 600px;
        margin-left: 15%;
    }
    .lis2 {
        text-align: justify;
        max-width: 600px;
        margin-left: 15%;
    }
    .txt3 {
        text-align: justify;
        max-width: 600px;
        margin-left: 15%;
    }
    footer {
        background-color: #6A8042;
        margin: 0;
        margin-top: 5%;
    }
    .content-footer {
        color: #FFFADD;
        margin: 0;
        padding: 5px;
    }
    .cajafooter {
        display: flex;
        justify-content: space-around;
        height: 30px;
    }
    .redes-footer1 {
        background-color: #0E3006;
        padding: 2px;
        margin: 1px;
        border-radius: 10px;
    }
    .redes-footer2 {
        background-color: #0E3006;
        padding: 2px;
        margin: 1px;
        border-radius: 10px;
    }
    .redes-footer3 {
        background-color: #0E3006;
        padding: 2px;
        margin: 1px;
        border-radius: 10px;
    }
    .icono-flotante {
        position: fixed;
        display: flex;
        padding: 0%;
        bottom: 20px;
        right: 20px;
    }
    .icono-flotante-img {
        height: auto;
        width: 150px;
    }
    .icono-flotante:hover {
        transform: scale(1.1);
    }
    .video1 {
        border-radius: 20px;
    }
